<div class="col-md-6 col-md-offset-3">
	<h2>Prateek Mishra</h2>
	

	<div style="margin-top:100px;margin-bottom:400px">
		<div style="margin-top:-50px">
			<img src="../css/prateek.jpg" style="width:250px;height:250px;margin-bottom:50px"/>
			<ul>
				<li><strong>Graduated : </strong>2014</li>
				<li><strong>Skills : </strong>Core Java,Spring, Hibernate, Android, Angular JS, JavScript, CSS</li>
			</ul>
		</div>
		<h4><a href="https://stackoverflow.com/users/2614719/prateek-mishra" target="_blank" style="margin-top:10px;margin-bottom:10px">Stack Overflow</a></h4>
		<h4><a href="https://www.linkedin.com/in/prateek-mishra-61aa4658" target="_blank"  style="margin-top:10px;margin-bottom:10px">LinkedIn</a></h4>
	</div>
</div>
